CompileFlags:
  CompilationDatabase: ./build
  Add: 
    - "-I/Library/Developer/CommandLineTools/SDKs/MacOSX14.4.sdk/usr/include"
    - "-I/Library/Developer/CommandLineTools/SDKs/MacOSX14.4.sdk/usr/include/c++/v1"
    - "-I/Users/adamrasool/Desktop/projects/C/ray_tracing_in_one_weekend/include"
